NFQWS_PORTS_TCP: 80,443,2053,2083,2087,2096,8443,5222
NFQWS_PORTS_UDP: 443,596-599,1024-65535
MODE_FILTER: autohostlist
FLOWOFFLOAD: hardware

# Akamai exclusion block (prepended to NFQWS_OPT when --no-akamai flag is used)
NFQWS_OPT_NO_AKAMAI: |
  # exclude akamai from handling
  --filter-tcp=80,443
  --ipset=/opt/zapret/ipset/akamai.txt
  --new

NFQWS_OPT: |
  # youtube tcp
  --filter-tcp=80,443
  --hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
  --dpi-desync=multisplit
  --dpi-desync-split-pos=1,sniext+1
  --dpi-desync-split-seqovl=1
  --new

  # youtube quic
  --filter-udp=443
  --hostlist=/opt/zapret/ipset/zapret-hosts-google.txt
  --dpi-desync=fake 
  --dpi-desync-repeats=11 
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --new

  # rkn blocked domains
  --filter-tcp=80,443
  --hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
  --dpi-desync=fake
  --dpi-desync-repeats=6
  --dpi-desync-fooling=ts
  --dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_4pda_to.bin
  --dpi-desync-fake-tls-mod=none
  --new

  # [quic] rkn blocked domains
  --filter-udp=443
  --hostlist=/opt/zapret/ipset/zapret-hosts-user.txt
  --dpi-desync=fake
  --dpi-desync-repeats=20
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --new

  # cdn ip ranges (cloudflare, amazon, hetzner and so on)
  --comment CdnTCP
  --filter-tcp=80,443
  --ipset=/opt/zapret/ipset/cust2.txt
  --dpi-desync=fake
  --dpi-desync-repeats=6
  --dpi-desync-fooling=ts
  --dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_4pda_to.bin
  --dpi-desync-fake-tls-mod=none
  --new

  # [quic] cdn ip ranges (cloudflare, amazon, hetzner and so on)
  --comment CdnUDP
  --filter-udp=443
  --ipset=/opt/zapret/ipset/cust2.txt
  --dpi-desync=fake
  --dpi-desync-fake-quic=/opt/zapret/files/fake/quic_initial_www_google_com.bin
  --dpi-desync-repeats=8
  --new

  # discord/ stun voice; 596-599 ports could be used by telegram, but im not sure? it's not documented anywhere.
  --filter-udp=596-599,1024-65535
  --filter-l7=discord,stun
  --dpi-desync=fake
  --dpi-desync-repeats=6
  --dpi-desync-fake-discord=/opt/zapret/files/fake/quic_initial_www_google_com.bin 
  --dpi-desync-fake-stun=/opt/zapret/files/fake/quic_initial_www_google_com.bin 
  --new

  # discord media
  --filter-tcp=2053,2083,2087,2096,8443
  --hostlist-domains=discord.media
  --dpi-desync=fake 
  --dpi-desync-repeats=6 
  --dpi-desync-fooling=ts 
  --dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_www_google_com.bin 
  --new

  # any hosts that are not on the list
  --filter-tcp=80,443 <HOSTLIST>
  --dpi-desync=fake
  --dpi-desync-repeats=6
  --dpi-desync-fooling=ts
  --dpi-desync-fake-tls=/opt/zapret/files/fake/tls_clienthello_4pda_to.bin
  --dpi-desync-fake-tls-mod=none
